---
http_interactions:
- request:
    method: post
    uri: https://db3.notify.windows.com/?token=token
    body:
      encoding: UTF-8
      string: <toast launch=""><visual lang="en-US"><binding template="ToastImageAndText01"><image
        id="1" src="World" /><text id="1">Hello</text></binding></visual></toast>
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - text/xml
      X-Wns-Requestforstatus:
      - 'true'
      X-Wns-Type:
      - wns/toast
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wns-Deviceconnectionstatus:
      - connected
      X-Wns-Notificationstatus:
      - received
      X-Wns-Status:
      - received
      X-Wns-Msg-Id:
      - 402E73F068974F89
      X-Wns-Debug-Trace:
      - DB3WNS4011733
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Oct 2014 16:48:35 GMT
- request:
    method: post
    uri: https://db4.notify.windows.com/?token=token
    body:
      encoding: UTF-8
      string: <toast launch=""><visual lang="en-US"><binding template="ToastImageAndText01"><image
        id="1" src="World" /><text id="1">Hello</text></binding></visual></toast>
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - text/xml
      X-Wns-Requestforstatus:
      - 'true'
      X-Wns-Type:
      - wns/toast
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wns-Deviceconnectionstatus:
      - connected
      X-Wns-Notificationstatus:
      - received
      X-Wns-Status:
      - received
      X-Wns-Msg-Id:
      - 402E73F068974F89
      X-Wns-Debug-Trace:
      - DB3WNS4011733
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Oct 2014 16:48:35 GMT
recorded_with: VCR 2.9.3
