---
http_interactions:
- request:
    method: post
    uri: https://login.live.com/accesstoken.srf
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&scope=notify.windows.com&client_id=test&client_secret=secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ppserver:
      - 'PPV: 30 H: BAYIDSLGN1A015 V: 0'
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"acces_token","expires_in":86400}'
  recorded_at: Mon, 27 Oct 2014 16:48:34 GMT
- request:
    method: post
    uri: https://db3.notify.windows.com/?token=token
    body:
      encoding: UTF-8
      string: <toast launch=""><visual lang="en-US"><binding template="ToastImageAndText01"><image
        id="1" src="World" /><text id="1">Hello</text></binding></visual></toast>
    headers:
      Authorization:
      - Bearer access_token
      Content-Type:
      - text/xml
      X-Wns-Requestforstatus:
      - 'true'
      X-Wns-Type:
      - wns/toast
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wns-Deviceconnectionstatus:
      - connected
      X-Wns-Notificationstatus:
      - received
      X-Wns-Status:
      - received
      X-Wns-Msg-Id:
      - 402E73F068974F89
      X-Wns-Debug-Trace:
      - DB3WNS4011733
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Oct 2014 16:48:35 GMT
recorded_with: VCR 2.9.3
